<!DOCTYPE html>
<html>
<head>
	<title>Template Two</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<link rel="stylesheet" type="text/css" href="./css/scaliton.css">
	<script type="text/javascript" src="./js/angular.min.js"></script>
</head>
<body ng-app="pageapp" ng-controller="pagecontroller"><!-- idea: https://www.codewithtarget.com/ -->
	<div class="container">
		<div class="content">
			<div class="column left menu" ng-style="leftBar">
				<ul>
					<li>file</li>
					<div ng-style="myStyle" ng-bind="test" ng-click="myStyle={color:'red'}" ng-drag="draging()"></div>
				</ul>
			</div>
			<div class="column margin" ng-click="changeSize()"></div>
			<div class="column right datas" ng-style="rightBar">
				<div class="content maxHeight">
					<div class="column two"><div class="filename">two</div></div><hr class="clear">
					<div class="content nopadding" ng-repeat="(k, v) in content">
						<div class="column one lines">
							{{$index+1}}
						</div>
						<div class="column eleven">
							<div class="fileContent">{{v}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	var app = angular.module('pageapp', []);
	app.controller('pagecontroller', ['$scope', function($scope){
		$scope.test = "Test Variable";
		$scope.myStyle = {color:'skyblue'};
		$scope.leftBar = {width: 19.5+'%'};
		$scope.rightBar = {width: 'calc('+80+'% - 1px)'};
		$scope.size = 0;
		$scope.changeSize = function() {
			$scope.size += 5;
			if($scope.size>15) $scope.size = 0;
			$scope.leftBar = {width: (19.5-$scope.size)+'%'};
			$scope.rightBar = {width: (80+$scope.size)+'%'};
		};
		$scope.content = [];
		$scope.content.push("Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.");
		$scope.content.push("");
		$scope.content.push("Adding another line");
		$scope.content.push("<line>");
		$scope.content.push(" ");
		$scope.content.push("   ");
		$scope.content.push("     ");
		$scope.content.push("1");
		$scope.content.push(";");
		$scope.content.push("####");
		$scope.content.push("12");
		$scope.content.push("43");
		$scope.content.push("....");
	}]);
</script>
</html>