input[type=text], input[type=number], input[type=email], input[type=password], textarea, input[type=date] {  width: 95%; padding: 15px 1.5%; background: var(--w3); border: thin solid var(--b5); font-size:1.2em; color: var(--b1); }
.form-group { display: block; padding: 20px 1%; }
::-webkit-input-placeholder {  color: var(--b4); /* Chrome/Opera/Safari */}
::-moz-placeholder {  color: var(--b4); /* Firefox 19+ */}
:-ms-input-placeholder {  color: var(--b4); /* IE 10+ */}
:-moz-placeholder {  color: var(--b4); /* Firefox 18- */}
::-moz-selection { background-color: var(--b5); color: var(--c16); }
::selection { background-color: var(--b5); color: var(--c16);  } /* Works in Safari */
select {-webkit-appearance: none; -moz-appearance: none; appearance: none;  width: 95%; padding: 12px 1.5%; border: thin solid var(--b5); font-size: 1.0em; color: var(--b2);     /* remove default arrow */ }
label { margin: 10px; }
form .col { padding-top: 20px; }
.css-form input.ng-invalid.ng-touched { background-color: var(--c46); }
.css-form input.ng-valid.ng-touched { background-color: var(--c42); }
.field_error { color: var(--c26); }
.small { width: 25% !important; padding: 10px 1% !important; }
.in { display: inline-block; }
.search { border: none !important; background: none !important; border-bottom: .125em solid #737373 !important; border-width: 0 0 3px; padding: .1875em .375em !important; }

button { box-shadow: inset 0 0 50px var(--b5); padding: 10px 20px; font-size:0.9em; border:none; border-radius: 5px; background: var(--g5); color: var(--w2); text-align: center; cursor: pointer; }
button:hover { color: var(--w1); }
