.f_col_1 { background: var(--c41); }
.f_col_2 { background: var(--c42); }
.f_col_3 { background: var(--c53); }
.f_col_4 { background: var(--c54); }
.f_col_5 { background: var(--c55); }
.f_col_6 { background: var(--c51); }
.f_col_7 { background: var(--c52); }
.f_col_8 { background: var(--c43); }
.f_col_9 { background: var(--c44); }
.f_col_10 { background: var(--c45); }
.f_col_11 { background: var(--c31); }
.f_col_12 { background: var(--c32); }

.col_1 { background: var(--c41); }
.col_2 { background: var(--c42); }
.col_3 { background: var(--c53); }
.col_4 { background: var(--c54); }
.col_5 { background: var(--c55); }
.col_6 { background: var(--c51); }
.col_7 { background: var(--c52); }
.col_8 { background: var(--c43); }
.col_9 { background: var(--c44); }
.col_10 { background: var(--c45); }
.col_11 { background: var(--c31); }
.col_12 { background: var(--c32); }

.c11 { background: var(--c11); }
.c12 { background: var(--c12); }
.c13 { background: var(--c13); }
.c14 { background: var(--c14); }
.c15 { background: var(--c15); }
.c21 { background: var(--c21); }
.c22 { background: var(--c22); }
.c23 { background: var(--c33); }
.c24 { background: var(--c44); }
.c25 { background: var(--c55); }
.c31 { background: var(--c31); }
.c32 { background: var(--c32); }
.c33 { background: var(--c33); }
.c34 { background: var(--c34); }
.c35 { background: var(--c35); }
.c41 { background: var(--c41); }
.c42 { background: var(--c42); }
.c43 { background: var(--c43); }
.c44 { background: var(--c44); }
.c45 { background: var(--c45); }
.c51 { background: var(--c51); }
.c52 { background: var(--c52); }
.c53 { background: var(--c53); }
.c54 { background: var(--c54); }
.c55 { background: var(--c55); }