.f_col_1 { background: var(--c41); }
.f_col_2 { background: var(--c42); }
.f_col_3 { background: var(--c53); }
.f_col_4 { background: var(--c54); }
.f_col_5 { background: var(--c55); }
.f_col_6 { background: var(--c51); }
.f_col_7 { background: var(--c52); }
.f_col_8 { background: var(--c43); }
.f_col_9 { background: var(--c44); }
.f_col_10 { background: var(--c45); }
.f_col_11 { background: var(--c31); }
.f_col_12 { background: var(--c32); }

.col_1 { background: var(--c41); }
.col_2 { background: var(--c42); }
.col_3 { background: var(--c53); }
.col_4 { background: var(--c54); }
.col_5 { background: var(--c55); }
.col_6 { background: var(--c51); }
.col_7 { background: var(--c52); }
.col_8 { background: var(--c43); }
.col_9 { background: var(--c44); }
.col_10 { background: var(--c45); }
.col_11 { background: var(--c31); }
.col_12 { background: var(--c32); }