html { /*background: url('../sam/samp1.png') 0 100% no-repeat;*/ background-size: contain; min-height: 100vh; }
html, body { font-family: Raleway, Helvetica; }
* { font-weight: 100; font-size: 0.975em; text-shadow: none; color: rgba(0, 0, 0, 0.5); }
img { width: 80%; }
h1, h2, h3, h4, h5, h6 { margin-bottom: 5px !important; color: rgba(0, 0, 0, 1.0);}
h4, h5, h6 { font-weight: 600; color: rgba(0, 0, 0, 0.5); }
h1 { font-size: 2.0em; line-height: 1.3em; }
h2 { font-size: 1.8em; line-height: 1.0em; }
h3 { font-size: 1.6em; line-height: 1.0em; }
h4 { font-size: 1.4em; line-height: 0.9em; }
h5 { font-size: 1.15em; line-height: 0.8em; }
h6 { font-size: 1.05em; line-height: 0.8em; }
button { padding: 7px 15px; border: thin solid rgba(0, 0, 0, 0.15); font-weight: 600; color: rgba(0,0,0,0.5);}
.right { background: url('../img/food3.jpg') no-repeat; background-position: center; background-attachment: fixed; margin-bottom: 0 !important; }
