html, body {
	margin:0;
	padding: 0;
}
h1, div {margin: 0; padding: 0; background: deepskyblue;}
.container {
	width: 90%;
	margin: 0 auto;
}
.content {
	margin: 0 auto;
	padding: 10px;
}
.f_hold {
	display: flex;
	flex-wrap: wrap;
	background: orange;
	margin: 0;
}
.col {
	padding: 2vh 1vw;
}
.f_col_1 {
	flex-grow: 1;
  	flex-basis: 6%;
	background: gray;
}
.f_col_2 {
	flex-grow: 2;
  	flex-basis: 14%;
	background: purple;
}
.f_col_3 {
	flex-grow: 3;
  	flex-basis: 22%;
	background: tomato;
}
.f_col_4 {
	flex-grow: 4;
  	flex-basis: 29%;
	background: skyblue;
}
.f_col_5 {
	flex-grow: 5;
  	flex-basis: 38%;
	background: lightblue;
}
.f_col_6 {
	flex-grow: 6;
  	flex-basis: 46%;
	background: yellow;
}
.f_col_7 {
	flex-grow: 7;
  	flex-basis: 58%;
	background: lightgreen;
}
.f_col_8 {
	flex-grow: 1;
  	flex-basis: 62%;
	background: chocolate;
}
.f_col_9 {
	flex-grow: 1;
  	flex-basis: 72%;
	background: gray;
}
.f_col_10 {
	flex-grow: 1;
  	flex-basis: 78%;
	background: gray;
}
.f_col_11 {
	flex-grow: 1;
  	flex-basis: 86%;
	background: gray;
}
.f_col_12 {
  	flex-basis: 96%;
	flex-grow: 12;
	background: silver;
}

.clear {
	width: 100%;
	border: none;
	margin: 0;
	padding: 0;
}