html, body { margin:0; padding: 0; min-height: 100vh; 
	color: rgba(0,0,0,0.75); font-size: 1em; text-shadow: 0 1px 1px rgba(255,255,255,0.75);}

.content { margin: 0 auto; padding: 10px; }

.f_hold { display: flex; flex-wrap: wrap; margin: 0; padding: 0; }

.col { --pd:1.0vw; --sw: 8.22vw; padding: calc(1.5*var(--pd)) var(--pd); }

.hf { min-height: 100vh; }

.f_col_1  {  flex-grow:  1; flex-basis: calc( 1*var(--sw) - 2*var(--pd)); }
.f_col_2  {  flex-grow:  2; flex-basis: calc( 2*var(--sw) - 2*var(--pd)); }
.f_col_3  {  flex-grow:  3; flex-basis: calc( 3*var(--sw) - 2*var(--pd)); }
.f_col_4  {  flex-grow:  4; flex-basis: calc( 4*var(--sw) - 2*var(--pd)); }
.f_col_5  {  flex-grow:  5; flex-basis: calc( 5*var(--sw) - 2*var(--pd)); }
.f_col_6  {  flex-grow:  6; flex-basis: calc( 6*var(--sw) - 2*var(--pd)) }
.f_col_7  {  flex-grow:  7; flex-basis: calc( 7*var(--sw) - 2*var(--pd)); }
.f_col_8  {  flex-grow:  8; flex-basis: calc( 8*var(--sw) - 2*var(--pd)); }
.f_col_9  {  flex-grow:  9; flex-basis: calc( 9*var(--sw) - 2*var(--pd)); }
.f_col_10 {  flex-grow: 10; flex-basis: calc(10*var(--sw) - 2*var(--pd)); }
.f_col_11 {  flex-grow: 11; flex-basis: calc(11*var(--sw) - 2*var(--pd)); }
.f_col_12 {  flex-grow: 12; flex-basis: calc(12*var(--sw) - 2*var(--pd)) }

.col_1  {  flex-basis: calc( 1*var(--sw) - 2*var(--pd)); }
.col_2  {  flex-basis: calc( 2*var(--sw) - 2*var(--pd)); }
.col_3  {  flex-basis: calc( 3*var(--sw) - 2*var(--pd)); }
.col_4  {  flex-basis: calc( 4*var(--sw) - 2*var(--pd)); }
.col_5  {  flex-basis: calc( 5*var(--sw) - 2*var(--pd)); }
.col_6  {  flex-basis: calc( 6*var(--sw) - 2*var(--pd)); }
.col_7  {  flex-basis: calc( 7*var(--sw) - 2*var(--pd)); }
.col_8  {  flex-basis: calc( 8*var(--sw) - 2*var(--pd)); }
.col_9  {  flex-basis: calc( 9*var(--sw) - 2*var(--pd)); }
.col_10 {  flex-basis: calc(10*var(--sw) - 2*var(--pd)); }
.col_11 {  flex-basis: calc(11*var(--sw) - 2*var(--pd)); }
.col_12 {  flex-basis: calc(12*var(--sw) - 2*var(--pd)); }

.mid { margin: 0 auto; }
.rgt { margin: 0 0 0 auto; }
.tac { text-align: center; }
.tar { text-align: right; }
.tal { text-align: left; }
.brb { border-bottom: thin solid rgba(100,100,100,0.2); box-shadow: 0 1px 2px -2px rgba(255,255,255,0.75); }

.clear {
	width: 100vw;
	border: none;
	margin: 0;
	padding: 0;
}