.f_col_1 { background: gray; }
.f_col_2 { background: purple; }
.f_col_3 { background: tomato; }
.f_col_4 { background: skyblue; }
.f_col_5 { background: lightblue; }
.f_col_6 { background: yellow; }
.f_col_7 { background: lightgreen; }
.f_col_8 { background: chocolate; }
.f_col_9 { background: Bisque; }
.f_col_10 { background: DarkKhaki; }
.f_col_11 { background: GoldenRod; }
.f_col_12 { background: silver; }

.col_1 { background: gray; }
.col_2 { background: purple; }
.col_3 { background: tomato; }
.col_4 { background: skyblue; }
.col_5 { background: lightblue; }
.col_6 { background: yellow; }
.col_7 { background: lightgreen; }
.col_8 { background: chocolate; }
.col_9 { background: Bisque; }
.col_10 { background: DarkKhaki; }
.col_11 { background: GoldenRod; }
.col_12 { background: silver; }