html {
  margin: 0;
  padding: 0;
  background: rgba(0,0,0,0.9);
}
body {
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.5);
  font-family: Raleway, Helvetica;
  line-height: 1.8em;
}

ul, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* style related with the class */
.menu {
  color: rgba(255,255,255, 0.75);
  background: rgba(25, 25, 25, 0.75);
}
.datas {
  color: rgba(255,255,255, 0.95);
  background: rgba(25, 25, 25, 0.75);  
}
.lines {
  text-align: right;
  color: rgba(255,255,255, 0.2);
  border-right: 1px dotted rgba(255,255,255, 0.2);
  font-size: 0.8em;
}
.fileContent {
  line-height: 1.5em;
  padding-left: 8px;
}
/*.maxHeight { background: rgba(25,25,25,0.95); }*/
.nopadding { padding: 0; margin: 0; }
.one { width: calc(5.33% - 2% - 1px) !important; padding: 0 1% !important; }
.datas .two, .datas .one, .datas .eleven {
  background: rgba(25, 25, 25, 0.95);
}
.filename { padding: 2px 8px; }
.margin { width: calc(0.5% - 1px); background: rgba(25, 25, 25, 0.85); cursor: col-resize; 
  border-right: 1px solid rgba(255,255,255,0.075); }
.left { min-height: 100vh; }
.right { padding: 0% !important; }