:root {
--sz1:0.4em;
--sz2:2.0px;
--pdp:1.0%; --xpdp:2.0%; --sw: 8.22%; --pd:1.0vh;

--c1_1: 171;  --c1_2:130;  --c1_3:236;
--c2_1: 91; --c2_2:215; --c2_3:246;
--c3_1: 236; --c3_2:121; --c3_3:198;
--c4_1: 250; --c4_2:117; --c4_3:164;
--c5_1: 63; --c5_2:244;  --c5_3:109;
--c6_1: 130; --c6_2:243;  --c6_3:213;
--c7_1: 200; --c7_2:250;  --c7_3:128;

--c1_1: 139;  --c1_2:134;  --c1_3:250;
--c2_1: 255; --c2_2:183; --c2_3:81;
--c3_1: 115; --c3_2:252; --c3_3:108;
--c4_1: 255; --c4_2:119; --c4_3:161;
--c5_1: 78; --c5_2:185;  --c5_3:255;
--c6_1: 191; --c6_2:135;  --c6_3:61;
--c7_1: 3; --c7_2:197;  --c7_3:88;

--op1: 0.99;
--op2: 0.75;
--op3: 0.5;
--op4: 0.25;
--op5: 0.1;

--c11: rgba(var(--c1_1),var(--c1_2),var(--c1_3), var(--op1));
--c12: rgba(var(--c2_1),var(--c2_2),var(--c2_3), var(--op1));
--c13: rgba(var(--c3_1),var(--c3_2),var(--c3_3), var(--op1));
--c14: rgba(var(--c4_1),var(--c4_2),var(--c4_3), var(--op1));
--c15: rgba(var(--c5_1),var(--c5_2),var(--c5_3), var(--op1));
--c21: rgba(var(--c1_1),var(--c1_2),var(--c1_3), var(--op2));
--c22: rgba(var(--c2_1),var(--c2_2),var(--c2_3), var(--op2));
--c23: rgba(var(--c3_1),var(--c3_2),var(--c3_3), var(--op2));
--c24: rgba(var(--c4_1),var(--c4_2),var(--c4_3), var(--op2));
--c25: rgba(var(--c5_1),var(--c5_2),var(--c5_3), var(--op2));
--c31: rgba(var(--c1_1),var(--c1_2),var(--c1_3), var(--op3));
--c32: rgba(var(--c2_1),var(--c2_2),var(--c2_3), var(--op3));
--c33: rgba(var(--c3_1),var(--c3_2),var(--c3_3), var(--op3));
--c34: rgba(var(--c4_1),var(--c4_2),var(--c4_3), var(--op3));
--c35: rgba(var(--c5_1),var(--c5_2),var(--c5_3), var(--op3));
--c41: rgba(var(--c1_1),var(--c1_2),var(--c1_3), var(--op4));
--c42: rgba(var(--c2_1),var(--c2_2),var(--c2_3), var(--op4));
--c43: rgba(var(--c3_1),var(--c3_2),var(--c3_3), var(--op4));
--c44: rgba(var(--c4_1),var(--c4_2),var(--c4_3), var(--op4));
--c45: rgba(var(--c5_1),var(--c5_2),var(--c5_3), var(--op4));
--c51: rgba(var(--c1_1),var(--c1_2),var(--c1_3), var(--op5));
--c52: rgba(var(--c2_1),var(--c2_2),var(--c2_3), var(--op5));
--c53: rgba(var(--c3_1),var(--c3_2),var(--c3_3), var(--op5));
--c54: rgba(var(--c4_1),var(--c4_2),var(--c4_3), var(--op5));
--c55: rgba(var(--c5_1),var(--c5_2),var(--c5_3), var(--op5));
--c16: rgba(var(--c6_1),var(--c6_2),var(--c6_3), var(--op1));
--c26: rgba(var(--c6_1),var(--c6_2),var(--c6_3), var(--op2));
--c36: rgba(var(--c6_1),var(--c6_2),var(--c6_3), var(--op3));
--c46: rgba(var(--c6_1),var(--c6_2),var(--c6_3), var(--op4));
--c56: rgba(var(--c6_1),var(--c6_2),var(--c6_3), var(--op5));
--c17: rgba(var(--c7_1),var(--c7_2),var(--c7_3), var(--op1));
--c27: rgba(var(--c7_1),var(--c7_2),var(--c7_3), var(--op2));
--c37: rgba(var(--c7_1),var(--c7_2),var(--c7_3), var(--op3));
--c47: rgba(var(--c7_1),var(--c7_2),var(--c7_3), var(--op4));
--c57: rgba(var(--c7_1),var(--c7_2),var(--c7_3), var(--op5));
--b1: rgba(10,10,10,var(--op1));
--b2: rgba(10,10,10,var(--op2));
--b3: rgba(10,10,10,var(--op3));
--b4: rgba(10,10,10,var(--op4));
--b5: rgba(10,10,10,var(--op5));
--w1: rgba(255,255,255,var(--op1));
--w2: rgba(255,255,255,var(--op2));
--w3: rgba(255,255,255,var(--op3));
--w4: rgba(255,255,255,var(--op4));
--w5: rgba(255,255,255,var(--op5));

--g1: linear-gradient(45deg, var(--c21), var(--c11));
--g2: linear-gradient(45deg, var(--c22), var(--c12));
--g3: linear-gradient(45deg, var(--c23), var(--c13));
--g4: linear-gradient(45deg, var(--c24), var(--c14));
--g5: linear-gradient(45deg, var(--c25), var(--c15));
--g6: linear-gradient(45deg, var(--c26), var(--c16));
--g7: linear-gradient(var(--c37), var(--c27));
}
