@charset "UTF-8";
/* CSS Document */

#leftBar>div {
	padding: 10px;
}

#introbox {
	height: 300px;
	overflow: hidden;
	background: url(../images/owl.jpg) no-repeat;
	background-size: cover;
	background-position: 0% 25%;
	margin:0;
	margin-bottom: 20px;
}

#introbox div {
	background: none;
	margin: 10px 0;
}

#introbox>div {
	width: 40%;
	float: right;
	padding: 10px 20px;
	background: rgba(51,51,51,0.1);
	box-shadow: 0 0 5px rgba(51,51,51,0.5);
	margin: 0px;
	position: relative;
	top: 20%;
}

#introbox h3 {
	margin:  0 0 10px 0;
}


@media all and (min-width: 1024px) {
	#introbox {
		height: 350px;
	}
}

@media all and (min-width: 720px) and (max-width: 1024px) {
	#introbox {
		height: 300px;
	}
}

@media all and (min-width: 420px) and (max-width: 720px) {
	#introbox {
		height: 250px;
	}
}

@media all and (max-width: 420px) {
	table {
		font-size: 0.8em;
	}
	#introbox {
		height: 0;
		visibility: hidden;
	}
}