:root {
  --op1: 0.9;
  --op2: 0.5;
  --op3: 0.1;
  --clr1: rgba(41,59,79, var(--op1));
  --clr2: rgba(235,73,48, var(--op1));
  --clr3: rgba(237,242,245, var(--op1));
  --clr4: rgba(54,148,209, var(--op1));
  --clr5: rgba(32,127,191, var(--op1));
  --clr6: rgba(107, 107, 71, var(--op1));
  --clr7: rgba(226,125,96, var(--op1));
  --clr8: rgba(133,220,191, var(--op1));
  --clr9: rgba(232,168,124, var(--op1));
  --clr10: rgba(195,141,158, var(--op1));
  --clr11: rgba(65,179,163, var(--op1));
  --clr12: rgba(227,227,227, var(--op1));
  --clr13: rgba(0,26,53, var(--op1));
  --clr14: rgba(48,187,187, var(--op1));
  --clr15: rgba(85,82,153, var(--op1));
  --clr16: rgba(255,119,1, var(--op1));
  --clr17: rgba(202,25,90, var(--op1));
  --clr18: rgba(17,17,17, var(--op1));
  --clr19: rgba(181,187,200, var(--op1));
  --clr20: rgba(219,139,11, var(--op1));
  --clr21: rgba(0,141,76, var(--op1));
  --clr22: rgba(0,167,208, var(--op1));
  --clr23: rgba(53,124,165, var(--op1));
  --clr24: rgba(211,55,36, var(--op1));
  --clr25: rgba(0,26,53, var(--op2));
  --clr26: rgba(48,187,187, var(--op2));
  --clr27: rgba(85,82,153, var(--op2));
  --clr28: rgba(255,119,1, var(--op2));
  --clr29: rgba(202,25,90, var(--op2));
  --clr30: rgba(17,17,17, var(--op2));
  --clr31: rgba(181,187,200, var(--op2));
  --clr32: rgba(219,139,11, var(--op2));
  --clr33: rgba(0,141,76, var(--op2));
  --clr34: rgba(0,167,208, var(--op2));
  --clr35: rgba(53,124,165, var(--op2));
  --clr36: rgba(211,55,36, var(--op2));
  --clr37: rgba(0,26,53, var(--op3));
  --clr38: rgba(48,187,187, var(--op3));
  --clr39: rgba(85,82,153, var(--op3));
  --clr40: rgba(255,119,1, var(--op3));
  --clr41: rgba(202,25,90, var(--op3));
  --clr42: rgba(17,17,17, var(--op3));
  --clr43: rgba(181,187,200, var(--op3));
  --clr44: rgba(219,139,11, var(--op3));
  --clr45: rgba(0,141,76, var(--op3));
  --clr46: rgba(0,167,208, var(--op3));
  --clr47: rgba(53,124,165, var(--op3));
  --clr48: rgba(211,55,36, var(--op3));
}
