.content { min-height: 180px; }

.c1 { background: var(--clr1);}
.c2 { background: var(--clr2);}
.c3 { background: var(--clr3);}
.c4 { background: var(--clr4);}
.c5 { background: var(--clr5);}
.c6 { background: var(--clr6);}
.c7 { background: var(--clr7);}
.c8 { background: var(--clr8);}
.c9 { background: var(--clr9);}
.c10 { background: var(--clr10);}
.c11 { background: var(--clr11);}
.c12 { background: var(--clr12);}
.c13 { background: var(--clr13);}
.c14 { background: var(--clr14);}
.c15 { background: var(--clr15);}
.c16 { background: var(--clr16);}
.c17 { background: var(--clr17);}
.c18 { background: var(--clr18);}
.c19 { background: var(--clr19);}
.c20 { background: var(--clr20);}
.c21 { background: var(--clr21);}
.c22 { background: var(--clr22);}
.c23 { background: var(--clr23);}
.c24 { background: var(--clr24);}
.c25 { background: var(--clr25);}
.c26 { background: var(--clr26);}
.c27 { background: var(--clr27);}
.c28 { background: var(--clr28);}
.c29 { background: var(--clr29);}
.c30 { background: var(--clr30);}
.c31 { background: var(--clr31);}
.c32 { background: var(--clr32);}
.c33 { background: var(--clr33);}
.c34 { background: var(--clr34);}
.c35 { background: var(--clr35);}
.c36 { background: var(--clr36);}
.c37 { background: var(--clr37);}
.c38 { background: var(--clr38);}
.c39 { background: var(--clr39);}
.c40 { background: var(--clr40);}
.c41 { background: var(--clr41);}
.c42 { background: var(--clr42);}
.c43 { background: var(--clr43);}
.c44 { background: var(--clr44);}
.c45 { background: var(--clr45);}
.c46 { background: var(--clr46);}
.c47 { background: var(--clr47);}
.c48 { background: var(--clr48);}

.content::before { content: attr(data-line) ". ";}
