a {  text-decoration:none; color: var(--b2); }
.info {  }
.info a { padding: 5px 10px; }
.menu_title { font-size: 1.5em; padding: 10px; margin-top: 20px; }
.menu_title h5{ margin: 0; }
.left_menu a { display:block; }
.left_menu a:hover { background: var(--b3); color: var(--w1); text-shadow: none; }
.left_menu i { padding: 10px; }
.left_menu .active { background: var(--c21); color: var(--w1); text-shadow: none; }
.c_r, .c_b, .c_g, .c_o { margin-left: 10px; text-shadow: none; color: var(--w1); }
.c_r { background: var(--c15) !important; }
.c_b { background: var(--c11) !important; }
.c_g { background: var(--c12) !important; }
.c_o { background: var(--c14) !important; }
.card h3 { text-align: right; font-size: 1.5em; font-weight: 100; }
.card h4 { font-size: 1.4em; font-weight: 100; padding:10px; margin: 0; }
.card .icon { font-size: 3em; }
.table { width: 100%; border-collapse: collapse; }
.table td { padding: 10px; }
.tbr { border: thin solid var(--b4); }
.tbr td { border-bottom: thin solid var(--b4); }
.icon { text-align: center; }
.table tr:nth-child(odd) { background: var(--b5); }
.c-b { color: var(--c11); }
.c-g { color: var(--c12); }
.c-r { color: var(--c15); }
.c-y { color: var(--c14); }
.c-o { color: var(--c13); }
.bg-b { background: var(--c11); }
.bg-g { background: var(--c12); }
.bg-r { background: var(--c15); }
.bg-y { background: var(--c14); }
.bg-o { background: var(--c13); }
.loder { width: 100%; background: var(--b4); }
.loder>div { padding: 10px; text-align: center; }